<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.repository.AmateurRepository">
    <!--useGeneratedKeys="true" keyProperty="id" parameterType resultType statementType="STATEMENT"-->
    <!--select ${columns} from ${tableName}-->

    <resultMap id="amateurRM" type="com.shmilyou.entity.Amateur" autoMapping="true">
        <id property="id" column="id"/>
        <association property="level" column="level_id" javaType="com.shmilyou.entity.AmateurLevel" select="getLevel"/>
    </resultMap>
    <select id="getLevel" resultType="com.shmilyou.entity.AmateurLevel">
        SELECT * FROM amateur_level WHERE id=#{id}
    </select>

    <select id="queryByPlace" resultType="com.shmilyou.entity.Amateur">
        SELECT * from amateur
        WHERE place LIKE CONCAT('%',#{place},'%')
        AND del=0
    </select>

    <select id="queryByTagName" resultType="com.shmilyou.entity.Amateur">
        SELECT * FROM amateur a
        LEFT JOIN amateur_tag t
        ON a.id=t.amateur_id
        AND t.name = #{tagName}
        AND a.del=0
        AND t.del=0
        LIMIT #{pageIndex} , #{pageSize}
    </select>

    <select id="queryByTagId" resultMap="amateurRM">
        SELECT *
        FROM amateur a
        LEFT JOIN amateur_tag t
        ON a.id=t.amateur_id
        AND t.category_id = #{tagId}
        AND a.del=0
        AND t.del=0
        LIMIT #{pageIndex} , #{pageSize}
    </select>

    <insert id="insertAmateurTag" parameterType="java.util.List">
        <!--<selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">-->
        <!--SELECT uuid()-->
        <!--</selectKey>-->
        insert into amateur_tag
        (id, amateur_id, category_id)
        values
        <foreach collection="list" item="at" index="index" separator=",">
            (
            uuid(), #{at.amateurId},#{at.categoryId}
            )
        </foreach>
    </insert>

    <!--        基础方法区           -->
    <!-- insert -->
    <insert id="insert" parameterType="com.shmilyou.entity.Amateur">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select uuid()
        </selectKey>
        INSERT INTO amateur(id,name,nick_name)
        VALUES(#{id},#{name},#{nickName})
    </insert>

    <!--update -->
    <update id="update">
    UPDATE amateur SET name=#{name},nick_name=#{nickName}
    WHERE id=#{id} AND del=0
    </update>

    <!-- queryById -->
    <select id="queryById" resultType="com.shmilyou.entity.Amateur">
    SELECT * FROM ${tableName}
    WHERE id=#{id} AND del=0
    </select>

    <!-- queryByColumn -->
    <select id="queryByColumn" resultType="com.shmilyou.entity.Amateur">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0
    </select>

    <!-- queryByColumns -->
    <select id="queryByColumns" resultType="com.shmilyou.entity.Amateur">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0
    </select>

    <!-- queryByColumnLimit -->
    <select id="queryByColumnLimit" resultType="com.shmilyou.entity.Amateur">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!-- queryByColumnsLimit -->
    <select id="queryByColumnsLimit" resultType="com.shmilyou.entity.Amateur">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

</mapper>