<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.repository.CourseRepository">
    <!--useGeneratedKeys="true" keyProperty="id" parameterType resultType statementType="STATEMENT"-->
    <!--select ${columns} from ${tableName}-->
    <resultMap id="courseRM" type="com.shmilyou.entity.Course" autoMapping="true">
        <id property="id" column="id"/>
        <!-- 由于 ownerId 是关联是关联查询时的中间属性，所以不指定映射列的话会导致正常查询时，ownerId=null -->
        <result property="ownerId" column="owner_id"/>
        <association property="tagName" column="category_id" javaType="java.lang.String" select="getTagName"/>
        <association property="organization" column="owner_id" javaType="com.shmilyou.entity.Organization" select="getOwnerId"/>
    </resultMap>
    <select id="getTagName" resultType="java.lang.String">
        <!-- 这里不加del=0,以免错误的逻辑导致空指针 -->
        SELECT name FROM category WHERE id=#{id}
    </select>
    <select id="getOwnerId" resultType="com.shmilyou.entity.Organization">
        SELECT * FROM organization WHERE id=#{id}
    </select>

    <!-- queryByTagIds -->
    <select id="queryByTagIds" resultType="com.shmilyou.entity.Course">
        SELECT * FROM course
        WHERE category_id IN
        <foreach collection="tagIds" item="c" index="index" separator=",">
            (
            #{c}
            )
        </foreach>
        AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!--        基础方法区           -->
    <!-- insert -->
    <insert id="insert" parameterType="com.shmilyou.entity.Course">
        <!--<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">-->
        <!--select uuid()-->
        <!--</selectKey>-->
        INSERT INTO course(id,name,description,pic_url,price,owner_id,category_id)
        VALUES(#{id},#{name},#{description},#{picUrl},#{price},#{ownerId},#{categoryId})
    </insert>

    <!--update -->
    <update id="update">
    UPDATE Course SET name=#{name},nick_name=#{nickName}
    WHERE id=#{id} AND del=0
    </update>

    <!-- queryById -->
    <select id="queryById" resultMap="courseRM">
    SELECT * FROM ${tableName}
    WHERE id=#{id} AND del=0
    </select>

    <!-- queryByColumn -->
    <select id="queryByColumn" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0
    </select>

    <!-- queryByColumns -->
    <select id="queryByColumns" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0
    </select>

    <!-- queryByColumnLimit -->
    <select id="queryByColumnLimit" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!-- queryByColumnsLimit -->
    <select id="queryByColumnsLimit" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

</mapper>