<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.repository.CourseRepository">
    <!--useGeneratedKeys="true" keyProperty="id" parameterType resultType statementType="STATEMENT"-->
    <!--select ${columns} from ${tableName}-->

    <!-- queryByTagIds -->
    <select id="queryByTagIds" resultType="com.shmilyou.entity.Course">
        SELECT * FROM course
        WHERE category_id IN
        <foreach collection="tagIds" item="c" index="index" separator=",">
            (
            #{c}
            )
        </foreach>
        AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!--        基础方法区           -->
    <!-- insert -->
    <insert id="insert" parameterType="com.shmilyou.entity.Course">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select uuid()
        </selectKey>
        INSERT INTO course(id,name,description,pic_url,price,owner_id,category_id)
        VALUES(#{id},#{name},#{description},#{picUrl},#{price},#{ownerId},#{categoryId})
    </insert>

    <!--update -->
    <update id="update">
    UPDATE Course SET name=#{name},nick_name=#{nickName}
    WHERE id=#{id} AND del=0
    </update>

    <!-- queryById -->
    <select id="queryById" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE id=#{id} AND del=0
    </select>

    <!-- queryByColumn -->
    <select id="queryByColumn" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0
    </select>

    <!-- queryByColumns -->
    <select id="queryByColumns" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0
    </select>

    <!-- queryByColumnLimit -->
    <select id="queryByColumnLimit" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!-- queryByColumnsLimit -->
    <select id="queryByColumnsLimit" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

</mapper>