<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.repository.CourseRepository">
    <!--useGeneratedKeys="true" keyProperty="id" parameterType resultType statementType="STATEMENT"-->
    <!--select ${columns} from ${tableName}-->
    <resultMap id="courseRM" type="com.shmilyou.entity.Course" autoMapping="true">
        <id property="id" column="id"/>
        <!-- 由于 ownerId 是关联是关联查询时的中间属性，所以不指定映射列的话会导致正常查询时，ownerId=null -->
        <result property="ownerId" column="owner_id"/>
        <result property="categoryId" column="category_id"/>
        <association property="category" column="category_id" javaType="com.shmilyou.entity.Category" select="getTag"/>
        <association property="organization" column="owner_id" javaType="com.shmilyou.entity.Organization" select="getOwnerId"/>
        <association property="lecturer" column="lecturer_id" javaType="com.shmilyou.entity.Lecturer" select="getLecturer"/>
    </resultMap>
    <select id="getTag" resultType="com.shmilyou.entity.Category">
        <!-- 这里不加del=0,以免错误的逻辑导致空指针 -->
        SELECT * FROM category WHERE id=#{id}
    </select>
    <select id="getOwnerId" resultType="com.shmilyou.entity.Organization">
        SELECT * FROM organization WHERE id=#{id}
    </select>
    <select id="getLecturer" resultType="com.shmilyou.entity.Lecturer">
        SELECT * FROM lecturer WHERE id=#{id}
    </select>

    <!-- queryByTagIds -->
    <select id="queryByTagIds" resultType="com.shmilyou.entity.Course">
        SELECT * FROM course
        WHERE category_id IN
        <foreach collection="tagIds" item="c" index="index" separator=",">
            (
            #{c}
            )
        </foreach>
        AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!--queryByOrganizationAndTags-->
    <select id="queryByOrganizationAndTags" resultMap="courseRM">
        SELECT * FROM course
        WHERE category_id IN
        <foreach collection="tagIds" item="c" index="index" separator=",">
            (
            #{c}
            )
        </foreach>
        AND owner_id=#{organizationId}
        AND del=0
    </select>

    <!-- queryByOrganizationAndTag -->
    <select id="queryByOrganizationAndTag" resultMap="courseRM">
        SELECT * FROM course
        WHERE owner_id=#{organizationId}
        AND category_id=#{tagId}
        AND del=0
    </select>

    <!--        基础方法区           -->
    <!-- insert -->
    <insert id="insert" parameterType="com.shmilyou.entity.Course">
        <!--<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">-->
        <!--select uuid()-->
        <!--</selectKey>-->
        INSERT INTO course(id,name,description,pic_url,price,owner_id,category_id)
        VALUES(#{id},#{name},#{description},#{picUrl},#{price},#{ownerId},#{categoryId})
    </insert>

    <!--update -->
    <update id="update">
    UPDATE course SET name=#{name},
    description=#{description},
    pic_url=#{picUrl},
    price=#{price},
    original_price=#{originalPrice},
    level=#{level},
    suitable=#{suitable},
    training_mode=#{trainingMode},
    duration=#{duration},
    environment=#{environment},
    feature=#{feature},
    target=#{target},
    start_time=#{startTime},
    pictures=#{pictures},
    owner_id=#{ownerId},
    category_id=#{categoryId},
    lecturer_id=#{lecturerId}
    WHERE id=#{id} AND del=0
    </update>

    <!-- queryById -->
    <select id="queryById" resultMap="courseRM">
    SELECT * FROM ${tableName}
    WHERE id=#{id} AND del=0
    </select>

    <!-- queryByColumn -->
    <select id="queryByColumn" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0
    </select>

    <!-- queryByColumns -->
    <select id="queryByColumns" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0
    </select>

    <!-- queryByColumnLimit -->
    <select id="queryByColumnLimit" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!-- queryByColumnsLimit -->
    <select id="queryByColumnsLimit" resultType="com.shmilyou.entity.Course">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

</mapper>