<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.repository.OrganizationRepository">
    <!--useGeneratedKeys="true" keyProperty="id" parameterType resultType statementType="STATEMENT"-->
    <!--select ${columns} from ${tableName}-->

    <resultMap id="organizationRM" type="com.shmilyou.entity.Organization" autoMapping="true">
        <id property="id" column="id"/>
        <result property="levelId" column="level_id"/>
        <association property="level" column="level_id" javaType="com.shmilyou.entity.OrganizationLevel"
                     select="getLevel"/>
        <association property="overview" column="id" javaType="com.shmilyou.entity.OrganizationOverview"
                     select="getOverview"/>
        <collection property="categoryList" javaType="ArrayList" column="id" ofType="com.shmilyou.entity.Category"
                    select="getTags"/>
    </resultMap>
    <select id="getLevel" resultType="com.shmilyou.entity.OrganizationLevel">
        SELECT * FROM organization_level WHERE id=#{id} AND del=0
    </select>
    <select id="getTags" resultType="com.shmilyou.entity.Category">
        SELECT c.* FROM organization_tag ot
        INNER JOIN category c
        on ot.category_id = c.id
        AND ot.organization_id=#{id}
        AND c.del=0 AND ot.del=0
    </select>
    <select id="getOverview" resultType="com.shmilyou.entity.OrganizationOverview">
        SELECT * FROM organization_overview WHERE organization_id=#{id}
    </select>

    <select id="queryByTagId" resultMap="organizationRM">
        SELECT *
        FROM organization o
        LEFT JOIN organization_tag t
        ON o.id=t.organization_id
        AND t.category_id = #{tagId}
        AND o.del=0
        AND t.del=0
        LIMIT #{pageIndex} , #{pageSize}
    </select>

    <insert id="register" parameterType="com.shmilyou.entity.Organization">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select uuid()
        </selectKey>
        INSERT INTO organization(id, name, login_name, password, logo, description, photo_album, phone, place,
        student, area_id)
        VALUES(#{id}, #{name}, #{loginName}, #{password}, #{logo}, #{description}, #{photoAlbum}, #{phone}, #{place},
        #{student}, #{areaId})
    </insert>

    <insert id="insertOrganizationTag" parameterType="java.util.List">
        <!--<selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">-->
        <!--SELECT uuid()-->
        <!--</selectKey>-->
        insert into organization_tag
        (id, organization_id, category_id)
        values
        <foreach collection="list" item="ot" index="index" separator=",">
            (
            uuid(), #{ot.organizationId},#{ot.categoryId}
            )
        </foreach>
    </insert>

    <!--        基础方法区           -->
    <!-- insert -->
    <insert id="insert" parameterType="com.shmilyou.entity.Organization">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select uuid()
        </selectKey>
        INSERT INTO organization(id, name, login_name, password, logo, description, photo_album, phone, place,
        student, area_id, level_id)
        VALUES(#{id}, #{name}, #{loginName}, #{password}, #{logo}, #{description}, #{photoAlbum}, #{phone}, #{place},
        #{student}, #{areaId}, #{levelId})
    </insert>

    <!--update -->
    <update id="update">
    UPDATE Organization SET name=#{name},nick_name=#{nickName}
    WHERE id=#{id} AND del=0
    </update>

    <!-- queryById -->
    <select id="queryById" resultMap="organizationRM">
    SELECT * FROM ${tableName}
    WHERE id=#{id} AND del=0
    </select>

    <!-- queryByColumn -->
    <select id="queryByColumn" resultType="com.shmilyou.entity.Organization">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0
    </select>

    <!-- queryByColumns -->
    <select id="queryByColumns" resultType="com.shmilyou.entity.Organization">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0
    </select>

    <!-- queryByColumnLimit -->
    <select id="queryByColumnLimit" resultType="com.shmilyou.entity.Organization">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!-- queryByColumnsLimit -->
    <select id="queryByColumnsLimit" resultType="com.shmilyou.entity.Organization">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

</mapper>