<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.repository.UserRepository">
    <!--useGeneratedKeys="true" keyProperty="id" parameterType resultType statementType="STATEMENT"-->
    <!--select ${columns} from ${tableName}-->

    <resultMap id="userRM" type="com.shmilyou.entity.User" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="categoryList" javaType="ArrayList" column="id" ofType="com.shmilyou.entity.Category"
                    select="getTags"/>
    </resultMap>
    <select id="getTags" resultType="com.shmilyou.entity.Category">
        SELECT c.* FROM user_tag ut
        INNER JOIN category c
        on ut.category_id = c.id
        AND ut.user_id=#{id}
        AND c.del=0 AND ut.del=0
    </select>

    <resultMap id="openUserRM" type="com.shmilyou.entity.OpenUser" autoMapping="true">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <association property="user" column="user_id" javaType="com.shmilyou.entity.User" select="getUser"/>
    </resultMap>
    <select id="getUser" resultType="com.shmilyou.entity.User">
        SELECT * FROM user WHERE id=#{id}
    </select>


    <insert id="insertUserTag" parameterType="java.util.List">
        <!--<selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">-->
        <!--SELECT uuid()-->
        <!--</selectKey>-->
        insert into user_tag
        (id, user_id, category_id)
        values
        <foreach collection="list" item="ut" index="index" separator=",">
            (
            uuid(), #{ut.userId},#{ut.categoryId}
            )
        </foreach>
    </insert>

    <insert id="insertOpenUser" parameterType="com.shmilyou.entity.OpenUser">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select uuid()
        </selectKey>
        INSERT INTO open_user (id, open_type, open_id, access_token, expired_time, nickname, avatar, user_id) VALUES
        (#{id}, #{openType}, #{openId}, #{accessToken}, #{expiredTime}, #{nickname}, #{avatar}, #{userId})
    </insert>

    <select id="queryByOpenId" resultMap="openUserRM">
        SELECT * FROM open_user WHERE open_id=#{openId} AND del=0
    </select>

    <!--        基础方法区           -->
    <!-- insert -->
    <insert id="insert" parameterType="com.shmilyou.entity.User">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select uuid()
        </selectKey>
        INSERT INTO user (id, name, nickname, password, head_img, phone, email, photo_album, area_code, gender)
        VALUES(
        #{id},
        #{name},
        #{nickname},
        #{password},
        #{headImg},
        #{phone},
        #{email},
        #{photoAlbum},
        #{areaCode},
        #{gender})
    </insert>

    <!--update -->
    <update id="update">
    UPDATE user SET
        name=#{name},
        nickname=#{nickname},
        password=#{password},
        head_img=#{headImg},
        phone=#{phone},
        email=#{email},
        photo_album=#{photoAlbum},
        area_code=#{areaCode},
        gender=#{gender}
    WHERE id=#{id} AND del=0
    </update>

    <!-- queryById -->
    <select id="queryById" resultType="com.shmilyou.entity.User">
    SELECT * FROM ${tableName}
    WHERE id=#{id} AND del=0
    </select>

    <!-- queryByColumn -->
    <select id="queryByColumn" resultType="com.shmilyou.entity.User">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0
    </select>

    <!-- queryByColumns -->
    <select id="queryByColumns" resultType="com.shmilyou.entity.User">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0
    </select>

    <!-- queryByColumnLimit -->
    <select id="queryByColumnLimit" resultType="com.shmilyou.entity.User">
    SELECT * FROM ${tableName}
    WHERE ${column}=#{value} AND del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

    <!-- queryByColumnsLimit -->
    <select id="queryByColumnsLimit" resultType="com.shmilyou.entity.User">
    SELECT * FROM ${tableName}
    WHERE ${columnsToValues} del=0 LIMIT #{pageIndex} , #{pageSize}
    </select>

</mapper>