<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css">
    <title>添加课程</title>
</head>
<body>
<div class="container">
    <div class="raw">
        <div class="col-sm-4 col-offset-sm-4">
            <form class="form-horizontal" action="/phisoa/course/add_course_organization" method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label>课程名</label>
                    <input type="text" class="form-control" name="name" value="什么课程"/>
                </div>
                <div class="form-group">
                    <label>标签</label>
                    <input type="text" name="categoryId" value="123">
                </div>
                <div class="form-group">
                    <label>上传图片</label>
                    <input type="file" name="pic">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>