<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增讲师</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="form-horizontal" action="/phisoa/manager/organization/add/lecturer" method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" name="name" value=""/>
                </div>
                <div class="form-group">
                    <label>教龄</label>
                    <input type="text" name="seniority" value="123">
                </div>
                <div class="form-group">
                    <label>简介</label>
                    <input type="text" name="resume" value="">
                </div>
                <div class="form-group">
                    <label>自拍照</label>
                    <input type="file" name="selfie">
                </div>
                <div class="form-group">
                    <label>作品集</label>
                    <input type="file" name="showreel" multiple>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>