<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <title>添加课程</title>
</head>
<body>
<div class="container">
    <div class="raw">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="form-horizontal" action="/phisoa/manager/organization/add/course" method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label>课程名</label>
                    <input type="text" class="form-control" name="name" value="什么课程"/>
                </div>
                <div class="form-group">
                    <label>课程类型</label>
                    <input type="text" class="form-control" name="tag" value="课程类型"/>
                </div>
                <div class="form-group">
                    <label>每次上课时长</label>
                    <input type="text" class="form-control" name="duration" value="什么课程"/>
                </div>
                <div class="form-group">
                    <label>课程等级</label>
                    <input type="text" class="form-control" name="level" value="初级"/>
                </div>
                <div class="form-group">
                    <label>价格</label>
                    <input type="text" name="price" value="999">
                </div>
                <div class="form-group">
                    <label>门店价</label>
                    <input type="text" name="originalPrice" value="9199">
                </div>

                <div class="form-group">
                    <label>教学环境</label>
                    <input type="text" name="price" value="999">
                </div>

                <div class="form-group">
                    <label>教学特色</label>
                    <input type="text" name="feature" placeholder="有什么特色？" value="有什么特色？">
                </div>

                <div class="form-group">
                    <label>适合基础</label>
                    <input type="text" name="suitable" placeholder="适合基础" value="零基础">
                </div>

                <div class="form-group">
                    <label>课程目标</label>
                    <input type="text" name="target" placeholder="" value="兴趣培养">
                </div>

                <div class="form-group">
                    <label>上课形势</label>
                    <input type="text" name="trainingModel" placeholder="如：班级上课" value="班级上课">
                </div>

                <div class="form-group">
                    <label>开课时间</label>
                    <input type="date" name="trainingModel">
                </div>

                <div class="form-group">
                    <label>选择老师</label>
                    <select name="lecturerId">
                        <option th:each="l:${lecturers}" th:value="${l.id}" th:text="${l.name}"></option>
                    </select>
                </div>


                <div class="form-group">
                    <label>上传图片</label>
                    <input type="file" name="pictures">
                    <input type="file" name="pictures">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>