<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程详情页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <style>
        .panel {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand">
                </a>
                <p th:text="${course.name}" class="navbar-text">课程名</p>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="/static/upload/organization/course/default.jpg" alt="...">
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="lead" th:text="${course.tagName}">分类</p>
                        <div><label class="label label-info">课程等级：</label>
                            <span th:text="${course.level}">null</span>
                        </div>
                        <div>
                            <label class="label label-info">适合的等级：</label><span th:text="${course.suitable}">null</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <a href="#" class="btn">预约试听</a>
                        </div>
                        <div class="col-md-6">
                            <a href="/phisoa/pay" class="btn btn-info">购买课程</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">什么玩意</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text">通过缩略图组件扩展 Bootstrap 的 栅格系统，可以很容易地展示栅格样式的图像、视频、文本等内容。</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <label>门店价：</label><s class="text-center text-danger" th:text="${course.price}"></s>
                        </div>
                        <div class="col-sm-6">
                            <label>优惠价：</label><label class="text" th:text="${course.originalPrice}"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" th:text="'地址：'+${o?.place}">地址：</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3">
                <img th:src="|/${oPath}${o.logo}|" alt="" class="img-circle">
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="col-sm-5">

    </div>
</div>
</div>
<h3 th:text="${course.name}"></h3>
<h3 th:text="${course.description}"></h3>
<h3 th:text="${course.price}"></h3>
<a href="#">价格比官方价更高？点击这里反馈，我们将及时调整</a>
<a href="">购买此课程</a>
</body>
</html>