<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新讲师信息</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-offset-sm-4">
            <form class="form-horizontal" action="/phisoa/course/organization/add" method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" name="name" th:value="${l.name}" value=""/>
                </div>
                <div class="form-group">
                    <label>教龄</label>
                    <input type="text" name="seniority" th:value="${l.seniority}" value="123">
                </div>
                <div class="form-group">
                    <label>培训类别</label>
                    <input type="text" name="categoryId" th:value="${l.category?.name}" value="">
                </div>
                <div class="form-group">
                    <label>简介</label>
                    <input type="text" name="resume" th:value="${l.resume}" value="">
                </div>
                <div class="form-group">
                    <label>自拍照</label>
                    <img th:src="|${lPath}${l.id}/${l.selfie}|" alt="">
                    <input type="file" name="selfie">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>