<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <title>用户注册</title>
    <script>
        var code = "";

        function checkCode() {
            var verify = $("#code").val() == code;
            if (verify) {
                return true;
            }
            alert("验证码错误");
            return false;
        }

        function verificationCode() {
            var email = $("#email").val();
            $.ajax({
                url: "/phisoa/register/verificationCode",
                async: true,
                type: "POST",
                data: {
                    "email": email
                },
                success: function (data) {
                    if (data.status == 200) {
                        if (isEmpty(data.msg)) {
                            $("#sendCode").val("已发送");
                            code = data.msg;
                        } else {
                            alert("发送失败");
                        }

                    } else {
                        alert("发送失败");
                    }
                },
                error: function () {
                    $("#sendCode").val("发送失败");
                },
                dataType: "json"
            });
        }

        function isEmpty(obj) {
            if (typeof obj == "undefined" || obj == null || obj == "") {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div class="raw">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="/phisoa/register/user" method="post" enctype="multipart/form-data"
                  class="form form-horizontal" onsubmit="return checkCode();">
                <div class="form-group">
                    <label class="label label-info" for="password">密码</label>
                    <input type="password" id="password" name="password" class="form-control" value="123">
                </div>
                <div class="form-group">
                    <label class="label label-info">电子邮箱</label>
                    <input type="email" name="email" id="email" class="form-control" value="530060499@qq.com">
                </div>

                <div class="form-group">
                    <label class="label label-info">选择所在地区（用于推荐）</label>
                    <select name="fullAreaName" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="label label-info">感兴趣的标签</label>
                    <select name="tagIds" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" id="code">
                    <a class="queryA" id="sendCode" href="javascript:void(0)" onclick="verificationCode()">
                        发送验证码
                    </a>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <input type="submit" value="注册" class="btn btn-success btn-large">
                    </div>
                </div>
            </form>
        </div>
        3
    </div>
</div>
</body>
</html>