<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>讲师管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3" th:each="l:${lecturers}">
            <img src="" class="img-responsive" th:src="|/${lPath}${l.id}/${l?.selfie}|" alt="">
            <div>
                <p class="text-center" th:text="${l.name}"></p>
                <p class="text-center">
                    <label th:text="|教龄: ${l.seniority}|">教龄：10</label>|
                    <label th:text="${l.category?.name}">标签</label>
                </p>
                <p class="text-center" th:text="${l.resume}">
                </p>
            </div>
            <div>
                <a href="#" th:href="|${l.id}|">修改</a>
                <a href="#" th:href="|${l.id}|">删除</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>