<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1 UTF-8 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
    <!--<property name="messageConverters">-->
    <!--<list>-->
    <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>-->
    <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
    <!--<property name="supportedMediaTypes">-->
    <!--<list>-->
    <!--<value>text/plain;charset=utf-8</value>-->
    <!--<value>text/html;charset=UTF-8</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=utf-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="com.shmilyou.web.resolver.LoginUserArgumentResolver"/>
            <bean class="com.shmilyou.web.resolver.LoginOrganizationArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!--2 扫描-->
    <context:component-scan base-package="com.shmilyou.web.controller"/>

    <!--3 模版引擎-->
    <bean id="templateResolver"
          class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="templates/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML"/>
        <property name="cacheable" value="false"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    <bean id="templateEngine"
          class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="order" value="1"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <!--4 静态资源访问（不拦截此目录下的东西的访问）  -->
    <mvc:default-servlet-handler/>

    <!-- 5文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 支持的其中一个属性，支持的最大文件大小，以字节为单位	-->
        <property name="maxUploadSize" value="5242880"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 拦截器的配置, 默认是拦截器所有(与Struts相同),但是也可以配置基于方法的拦截器 -->
    <mvc:interceptors>
        <!-- 默认拦截所有的请求 -->
        <!--<bean class="com.shmilyou.web.interceptor.LoginInterceptor" />-->

        <!-- 配置拦截部分方法的请求,支持正则运算 -->
        <mvc:interceptor>
            <mvc:mapping path="/phisoa/**"/>
            <mvc:exclude-mapping path="/phisoa"/>
            <mvc:exclude-mapping path="/phisoa/index"/>
            <mvc:exclude-mapping path="/phisoa/login/**"/>
            <mvc:exclude-mapping path="/phisoa/login_out"/>
            <mvc:exclude-mapping path="/phisoa/register/**"/>

            <mvc:exclude-mapping path="/phisoa/"/>
            <mvc:exclude-mapping path="/phisoa/index/"/>
            <mvc:exclude-mapping path="/phisoa/login_in/"/>
            <mvc:exclude-mapping path="/phisoa/login_out/"/>
            <mvc:exclude-mapping path="/phisoa/register/"/>
            <bean class="com.shmilyou.web.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>